#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header button{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    row-gap: 12px;

    background: transparent;
}